.contact {
    width: 100vw;
    height: 100vh;
}

.topTexts {
    font-family: Roboto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pageTitle {
    font-weight: 700;
}

.pageSubTitle {
    font-weight: 300;   
    font-size: 20px;
}

.socialMedias {
    height: 35vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 1025px){
    .socialMedias {
        height: 70vh;
        margin-top: 2%;
    }
}