div.index {
	width: 100vw;
    display: grid;
	grid-template-columns: 100vw;
	grid-template-areas: "navbar" "main-text" "authorName" "sub-text" "image" "button" "scroll";
	grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

div.main-text { 
    grid-area: main-text;
    margin-top: 1rem;
	font-weight: 300;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center; 
}

div.authorName { 
	grid-area: authorName;
	margin-top: -1rem;
    font-weight: 900;
	font-size: 60px;	
	letter-spacing: -4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.sub-text { 
    grid-area: sub-text; 
	padding: 0 2rem;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.image { 
    grid-area: image; 
    display: block;
	margin: 0 auto;
	margin-top: 3rem;
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

a.downloadCV {
    grid-area: button;
    margin: 0 auto;
    margin-top: 2rem;
    width: 163px;
	height: 50px;
	text-decoration: none;
}

p.scroll { 
    font-family: Roboto;
	padding: 2rem;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/* Adapting to screens with max height of 600px */
@media (max-height: 600px) {
	p.scroll {
		margin-top: -1rem;
	}
}

/* Adapting to screens with max height of 700px */
@media (max-height: 700px) {

	div.index{
		height: 100vh;
		grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr;
	}

	p.scroll { /* Alters "Scroll down" text */
		font-family: Roboto;
		font-weight: 300;
		font-size: 20px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	div.main-text {
		font-weight: 300;
		font-size: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	div.authorName {	
		font-weight: 900;
		font-size: 50px;	
		letter-spacing: -4px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	div.sub-text {
		padding: 0rem 2rem;
		font-weight: 300;
		font-size: 18px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img.image {
		display: block;
        margin: 0 auto;
        margin-top: 1rem;
		width: 150px;
		height: 150px;
		border-radius: 100px;
	}
}

/* Adapting to screens with min width of 700px */
@media (min-width: 700px) {

    div.index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.6fr 0fr 100px 0fr 0.1fr;
        grid-template-areas: "navbar ." "main-text image" "authorName image" "sub-text image" "button .";
        font-family: Roboto;
	}
	
	Navbar{
		grid-area: navbar;
	}
	
    div.main-text { 
        grid-area: main-text;
		font-weight: 400;
		font-size: 50px;
		display: flex;
        justify-content: flex-start;
        align-content: center;
		margin-left: 5rem;
    }
    
    div.authorName { 
        grid-area: authorName;
        font-weight: 900;
		font-size: 100px;	
		letter-spacing: -4px;
		display: flex;
		justify-content: flex-start;
		margin-left: 5rem;
    }
    
    div.sub-text { 
        grid-area: sub-text; 
		font-weight: 300;
		font-size: 30px;
		text-align: justify;
		display: flex;
		justify-content: flex-start;
		margin-left: 3.2rem;		
		width: 500px;
        
    }
    
    img.image { 
        grid-area: image; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        border-radius: 0px;
        box-shadow: 70px 50px 1px 1px #58656D;
        margin-top: 7rem;
    }
    
    a.downloadCV {
        grid-area: button;
        display: block;
        margin: 0;
        margin-left: 5rem;
		margin-top: 2rem;
    }
    
    p.scroll { 
        display: none;
    }    

}