.card {

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 30px 30px 30px 30px;

    display: flex;
    align-items: center; 
    flex-direction: column;
    
    width: 300px;
    height: 400px;

    box-shadow: 0px 2px 5px 0.5px rgb(182, 182, 182);
    border-radius: 5px;

    font-family: Roboto;
}

.title {
    margin: 0;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 18px;
}

.content {
    font-weight: 300;
    text-align: justify;
    font-size: 15px;
}

