.index .texts {
	font-family: Roboto;
}

.main-text {
	margin-top: 3rem;
	font-weight: 300;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.authorName {
	font-weight: 900;
	font-size: 60px;	
	margin-top: -0.5rem;
	letter-spacing: -4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-text {
	padding: 0rem 2rem;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.ProfilePhoto {
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.scrollIcon {
	filter: invert();
	width: 30px;
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
}

div.downloadButton {
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
	width: 163px;
	height: 50px;
	background: url(../../assets/images/downloadButton.svg);
}

.downloadButton:hover {
	background: url(../../assets/images/downloadButtonBlue.svg);
	cursor: pointer;
}