.card {

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 30px 30px 30px 30px;

    display: flex;
    align-items: center; 
    flex-direction: column;
    
    width: 300px;
    height: 400px;

    box-shadow: 0px 2px 5px 3px rgb(221, 221, 221);
    border-radius: 5px;
    border: none !important;

    font-family: Roboto;
}

.title {
    margin: 0;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 19px;
}

.content {
    font-weight: 300;
    text-align: justify;
    font-size: 17px;
}

@media (max-height: 600px){

    .card {
        width: 280px;
        height: 340px;

        margin-top: 1rem;
        margin-bottom: 1rem;        

        font-size: 13px;
    }

    .title {
        font-size: 17px;
    }

    .content {
        font-size: 15px;
    }

}

@media (min-width: 1085px) and (max-width: 1220px) {
    .card {
        width: 350px;
        height: 400px;        
    }
}

@media (min-width: 1220px) {

    .card {
        width: 400px;
        height: 400px;
    }
    
}