.navBar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-size: 15px;
	font-family: Cocogoose Light;
	margin-top: 4rem;
}

.navBar > p {
	color: gray;
	font-weight: 700;
	margin-left: 1.6rem;
}
