.navBar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-size: 15px;
	font-family: Cocogoose Light;
	margin-top: 4rem;
}

.navBar > p {
	color: gray;
	font-weight: 700;
	margin-left: 1.6rem;
}

@media (min-width: 700px) {
	.navBar {
		justify-content: flex-start;
		margin-left: 5rem;
		font-size: 20px;
	}
	
	.navBar > p {
		margin-left: 3.7rem;
	}
}
