.navBar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-size: 15px;
	font-family: Cocogoose Light;
}

.navBar > p {
	color: gray;
	font-weight: 700;
	margin-left: 1.6rem;
}

@media (max-height: 700px) {
	.navBar {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		font-size: 10px;
		font-family: Cocogoose Light;
		margin-top: 3rem;
	}
	
	.navBar > p {
		color: gray;
		font-weight: 700;
		margin-left: 1.6rem;
	}
}

@media (min-width: 700px) {
	.navBar {
		margin-top: -5rem;
		justify-content: flex-start;
		margin-left: 5rem;
		font-size: 20px;
	}
	
	.navBar > p {
		margin-left: 3.7rem;
	}
}
