.projects {
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topTexts {
    margin-top: 30px;
}

.projectCards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 2rem;
    height: auto;
}

@media (max-height: 600px){

    .pageTexts {
        margin-top: 40px;
    }
    
    .pageTitle {
        font-size: 30px;
    }

    .pageSubTitle {
        font-size: 17px;
    }
}