.projects {
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topTexts {
    margin-top: 30px;
}

.projectCards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 2rem;
    height: auto;
}

@media (max-height: 600px){

    .pageTexts {
        margin-top: 40px;
    }
    
    .pageTitle {
        font-size: 30px;
    }

    .pageSubTitle {
        font-size: 17px;
    }
}

@media (min-width: 1025px){

    .pageTitle {
        margin-top: 0;
    }

    .projectCards {        
        width: 95vw;
        display: grid;
        grid-template-columns: 1.4fr 1.4fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em 5em;
        grid-template-areas:
            ". ."
            ". .";
        /* padding-right: 80%; */
    }
}