:root {
		
	/* Global variables with colors */
	--color-primary: #3672A6;
	--color-gray-primary: #58656D;
	--color-white-secondary: #F1F1F1;
	--color-orange: #F2CF8D;
}

html,
body,
#root {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

a:link {
	text-decoration: none;
}
  
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.fp-tableCell {
	vertical-align: unset !important;
}